* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*------it wwill set the default margin and padding to zero ----- */

body {
 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(1, 143, 143);
  height:100%;
  
}

:root{
  --text-color: rgb(7, 62, 62);
  --border-color:rgb(149, 149, 231);
  --bg-color:rgb(1, 143, 143);
  --success-color:rgb(172, 15, 15);
}

a{
  text-decoration: none;
 
 
 
}
